
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="addSongModalLabel">Dal hozzáadása</h4>
</div>
<div class="modal-body">
    <form action="/song/add" method="post"></form>
    <div class="row margin-left-right">
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Előadó">
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Cím">
        </div>
    </div>
    <div class="row margin-left-right">
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Műfaj">
        </div>
        <div class="col-sm-3 col-xs-6">
            <input type="text" class="form-control" placeholder="Hossz">
        </div>
        <div class="col-sm-3 col-xs-6">
            <input type="text" class="form-control" placeholder="Év">
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Mégsem</button>
    <button type="submit" class="btn btn-success">Mentés</button>
</div>