<!-- dal szerkesztese modal-->
<div class="modal fade" id="editSongModal" tabindex="-1" role="dialog" aria-labelledby="editSongModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editSongModalLabel">Dal szerkesztése</h4>
            </div>
            <div class="modal-body">

                <div class="row margin-left-right">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <select class="form-control" id="performerSelect">
                                <option>Előadó 1</option>
                                <option>Előadó 2</option>
                                <option>Előadó 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Cím 1">
                    </div>
                </div>
                <div class="row margin-left-right">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Műfaj 1">
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <input type="text" class="form-control" placeholder="3:11">
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <input type="text" class="form-control" placeholder="2011">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Mégsem</button>
                <button type="button" class="btn btn-danger">Törlés</button>
                <button type="button" class="btn btn-success">Mentés</button>
            </div>
        </div>
    </div>
</div>