<!DOCTYPE html>
<html>
<head>
    <title>Music</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="main-wrapper">
    <div class="header-container">
        <input id="main-search" class="form-control search-bar" placeholder="Írj be valamit a kereséshez!">
        <a href="/performers" class="btn btn-default header-btn pull-right">Előadók megtekintése</a>
        <button class="btn btn-default header-btn pull-right">Dal hozzáadása</button>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>Előadó</th>
                <th>Cím</th>
                <th>Hossz</th>
                <th>Műfaj</th>
                <th>Év</th>
            </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Előadó 1</td>
                    <td>Cím 1</td>
                    <td>3:11</td>
                    <td>Műfaj 1</td>
                    <td>2011</td>
                </tr>
                <tr>
                    <td>Előadó 3</td>
                    <td>Cím 3</td>
                    <td>3:13</td>
                    <td>Műfaj 3</td>
                    <td>2013</td>
                </tr>
                <tr>
                    <td>Előadó 4</td>
                    <td>Cím 4</td>
                    <td>3:14</td>
                    <td>Műfaj 4</td>
                    <td>2014</td>
                </tr>
                <tr>
                    <td>Előadó 5</td>
                    <td>Cím 5</td>
                    <td>3:15</td>
                    <td>Műfaj 5</td>
                    <td>2015</td>
                </tr>
                <tr>
                    <td>Előadó 6</td>
                    <td>Cím 6</td>
                    <td>3:16</td>
                    <td>Műfaj 6</td>
                    <td>2016</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
</body>

</html>