<%- include header.ejs %>
    <div class="main-wrapper main-wrapper--login">
        <h1>Bejelentkezés</h1>
        <input class="form-control" id="user-name" placeholder="Felhasználónév">
        <input class="form-control" id="password" placeholder="Jelszó">
        <div class="btn-container">
            <a href="/" class="btn btn-primary pull-right">Bejelentkezés</a>
            <a href="/" class="btn btn-default">&laquo;Vissza a főoldalra</a>
        </div>
    </div>
<%- include footer.ejs %>