.main-wrapper {
    width: 80%;
    margin: 50px auto 0;
}

.main-wrapper--login {
    max-width: 350px;
}

.main-wrapper--login input.form-control,
.main-wrapper--login h1 {
    margin-bottom: 30px;
}

.no-left-margin {
    margin-left: 0 !important;
}

input.form-control {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.performers-table > table {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1100px){
    input.search-bar {
        display: inline-block;
        width: 60%
    }
}
@media (max-width: 1100px){
    .header-container {
        text-align: left;
    }
    .header-btn.btn {
        float: none !important;
        margin-top: 15px;
        margin-left: 0;
    }
    .header-btn.btn:not(:first-of-type) {
        margin-left: 15px;
    }
}

@media (max-width: 408px) {
    .header-container {
        text-align: center;
    }
    .btn.header-btn {
        margin-left: 0 !important;
    }
}

.table-responsive {
    margin-top: 30px;
}

.btn {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.btn:focus,
.btn:active,
.btn:active:focus {
    outline: none;
}

.btn-default {
    background: #f9f9f9;
}

.header-btn {
    margin-left: 25px;
}
@media (min-width: 768px) {
    .modal-body .row:not(:first-child) {
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .modal-body > .row > div {
        margin-top: 15px;
    }
}

.clickable {
    cursor: pointer;
}

.modal-footer {
    margin-top: 30px;
    /*padding-bottom: 0;*/
}

.margin-left-right {
    margin-left: 0;
    margin-right: 0;
}

.btn-next {
    padding: 2px 8px;
    margin-top: -3px;
}

.login-sticky {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 999;
}